@import "colours.css";

@font-face
{
    font-family: "myFont";
    src: url(../font/CascadiaMonoPL.woff2);
}

*::-webkit-scrollbar
{
	background-color: transparent;
	width: 0.75rem;
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	border: 4px solid transparent;
	background-color: var(--base04);
	background-clip: content-box;
}

body
{
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: var(--bg);
    color: var(--text);
	font-family: "myFont", monospace;
    font-size: 16px;
}

h1
{
	text-align: center;
}

img
{
	max-width: 20rem;
	height: auto;
}

div
{
	text-align: center;
}

a:link, a:visited
{
    color: var(--link);
}

a:hover, a:active, a.active
{
    color: var(--hover);
}