<br/>

<div id="index-image">
    <img id="index-img" src="/media/asahi.gif">
</div>

<br/>

<style>
    #index-image
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #index-img
    {
        width: 25vh;
        height: 25vh;
    }
</style>

<script>
    document.getElementById("index-img").style.cursor = "pointer";
    document.getElementById("index-img").addEventListener("click", function()
    {
        window.open("https://imgur.com/asahi-wKjtZg3", "_blank").focus();
    });
</script>