<p> <text id="welcomeTextBody" style="color:var(--highlight);"> </text> 👋 </p>

<div align="center">
    <img class="indexZ-img" src="/assets/cat-chilling.webp">
</div>

<h1> My recommendation of today's music: </h1>

<div id="indexYoutube-content"> </div>

<h1> Latest commit: </h1>

<div id="indexZ-content"> </div>

</br>

<p> <i> <b> Best Viewed on Desktop! </b> </i> </p>

<div class="page-footer-content">
    <img src="/assets/miku-approved.gif">
    <img id="page-footer-content-secret" src="/assets/senko.webp">
    <img id="page-footer-content-ncs-youtube" src="/assets/ncs.webp">
</div>

<style>
    .indexZ-img
    {
        max-width: 90%;
    }

    .page-footer-content
    {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        gap: 10px;
    }

    .page-footer-content img
    {
        width: 88px;
        height: 31px;
    }
</style>

<script src="/js/indexZ.js"></script>